{% extends '../layouts/chat.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-8 offset-lg-2 col-md-12">
		<div class="grid">
			<p class="grid-header">Профиль</p>
			<div class="grid-body">
				<div class="item-wrapper">
					<form action="/profile" method="POST">
						<div class="form-group label-floating">
							<input type="text" name="name" id="inputName" placeholder="Имя" class="form-control mr-2" value="{{ userInfo.name }}"/>
							<label class="control-label">Имя</label>
						</div>
						<div class="form-group label-floating">
							<input type="text" name="lastname" id="inputLastName" placeholder="Фамилия" class="form-control mr-2"
								   value="{{ userInfo.lastname }}"/>
							<label class="control-label">Фамилия</label>
						</div>
						<div class="form-group label-floating">
							<input type="text" name="ozonApiKey" id="inputOzonApiKey" placeholder="Ozon ApiKey" class="form-control mr-2" required
								   value="{{ userInfo.ozonApiKey }}"/>
							<label class="control-label">Ozon ApiKey</label>
						</div>
						<div class="form-group label-floating">
							<input type="text" name="ozonClientId" id="inputOzonClientId" placeholder="Ozon ClientID" class="form-control mr-2"
								   value="{{ userInfo.ozonClientId }}"/>
							<label class="control-label">Ozon ClientID</label>
						</div>
						<div class="row">
							<div class="col-6">
								<button class="btn btn-primary" type="submit">Сохранить</button>
							</div>
							<div class="col-6">
								<button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#password-reset-modal">
									Сменить пароль
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="password-reset-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title text-white">Смена пароля</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body p-0">
				<div id="changePasswordForm" class="grid-body">
					<div>
						<div class="form-group label-floating">
							<input type="password" name="password" class="form-control mr-2" placeholder="Текущий пароль" required/>
							<label class="control-label">Текущий пароль</label>
						</div>
						<div class="form-group label-floating">
							<input type="password" name="newpassword" class="form-control mr-2" placeholder="Новый пароль" required/>
							<label class="control-label">Новый пароль</label>
						</div>
						<div class="form-group label-floating">
							<input type="password" name="passwordcopy" class="form-control mr-2" placeholder="Повторите новый пароль" required/>
							<label class="control-label">Повторите новый пароль</label>
						</div>
					</div>
					<div class="d-flex flex-row mt-4">
						<button class="btn btn-primary" onclick="resetPassword()">
							Сменить пароль
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	function resetPassword() {
		fetch('/profile/password-reset', {
			method: 'post',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({
				'password': document.querySelector('#changePasswordForm [name=password]').value,
				'newpassword': document.querySelector('#changePasswordForm [name=newpassword]').value,
				'passwordcopy': document.querySelector('#changePasswordForm [name=passwordcopy]').value
			})
		}).then(function (response) {
			return response.json();
		}).then(res => {
			alert(res.message)
		});
	}
</script>
{% endblock %}