
<div class="sidebar">
  <div class="user-profile">
    <a href='/' class="info-wrapper d-md-block d-sm-none logoo">
      <span class="tslogo">TopSe<span class="tslogoGreen">1<span class="tslogoInv">1</span></span>er</span>
    </a>
    <div class="info-wrapper" >
      <p class="user-name">{{ mainInfo.userName }}</p>
    </div>
    <div class="info-wrapper">
      <h6 class="display-income">Выручка за сегодня 3,400,00</h6>
    </div>
  </div>
  <ul class="navigation-menu">
    <!--<li>
      <a href="/">
        <span class="link-title">Главная</span>
        <i class="mdi mdi-bulletin-board link-icon"></i>
      </a>
    </li>
    <li>
      <a href="/store">
        <span class="link-title">Склад</span>
        <i class="mdi mdi-gauge link-icon"></i>
      </a>
    </li>
    <li>
      <a href="/users">
        <span class="link-title">Пользователи</span>
        <i class="mdi mdi-account-multiple link-icon"></i>
      </a>
    </li>
    <li>
      <a href="/items">
        <span class="link-title">Все товары</span>
        <i class="mdi mdi-gauge link-icon"></i>
      </a>
    </li>-->
    <li>
      <a href="/ozon">
        <span class="link-title">Авторепрайсер</span>
        <i class="mdi mdi-trending-down link-icon"></i>
      </a>
    </li>
    <!--{% for key, item in categories %}
    {% if item.name.length %}
      <li>
        <a href="/items/{{ item.name }}">
          <span class="link-title">{{ item.name }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}-->
  </ul>
</div>