<div class="sidebar">
	<div class="sidebar-inner">
		<div class="sidebar-info-block sub-info alert alert-{% if userInfo.subscription_date %}success{% else %}danger{% endif %}">
			Подписка:
			<a title="Информация о подписке" class="alert-link" href="/subscription">
				{%if userInfo.chat_subscription %}активна{% else %}не активна{% endif %}
			</a>
			{% if userInfo.subscription_date %}
			<p>Действует до: <strong>{{userInfo.subscription_date}}</strong></p>
			{% endif %}
			<div class="sub-auto">
				Автоплатеж
				{% if userInfo.chat_payment_method_id %}
				подключен
				<a href="#" onclick="recurrentPaymentRemove()" title="Отключить автоплатеж"><i
						class="mdi mdi-close"></i></a>
				{% else %}
				не подключен <i class="mdi mdi-help-circle"
								data-tooltip="При следующей оплате вы можете подключить автоматическое продление подписки"></i>
				{% endif %}
			</div>
		</div>
		<div class="sidebar-footer">
			<a class="contacts-link" href="/contacts">
				<i class="mdi mdi-help-circle-outline"></i>
				Поддержка
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	function recurrentPaymentRemove() {
		if (confirm("Отключить функцию автопродления подписки?"))
			fetch('/profile/remove-recurrent')
				.then(function () {
					document.location.reload(true);
				})
				.catch(console.error);
	}
</script>