<div class="sidebar">
	<div class="sidebar-inner">
		<div class="sidebar-info-block ar-info">
			<div class="ar-control">
				{% if userInfo.autorepricer_run %}
				<span class="badge badge-inverse-success ar-status">
				<span class="status-indicator rounded-indicator bg-success"></span>
				<span class="ar-status-text">активен</span>
			</span>
				{% else %}
				<span class="badge badge-inverse-danger ar-status">
				<span class="status-indicator rounded-indicator bg-danger"></span>
				<span class="ar-status-text">неактивен</span>
			</span>
				{% endif %}
				<div class="btn btn-inverse-{% if userInfo.autorepricer_run %}danger{% else %}success{% endif %} btn-xs ar-toggle">
					{% if userInfo.autorepricer_run %}
					<i class="mdi mdi-pause"></i>
					{% else %}
					<i class="mdi mdi-play"></i>
					{% endif %}
				</div>
			</div>
			<a href="/autorepricer/log" class="btn btn-link btn-xs btn-block">Посмотреть лог</a>
		</div>
		<div class="sidebar-info-block sub-info alert alert-{% if userInfo.subscription_date %}success{% else %}danger{% endif %}">
			Тариф:
			<a title="Информация о подписке" class="alert-link" href="/subscription">
				{{ userInfo.subscription_name || "не активна" }}
			</a>
			{% if userInfo.subscription_date %}
			<p>Действует до: <strong>{{userInfo.subscription_date}}</strong></p>
			{% endif %}
			<div class="sub-auto">
				Автоплатеж
				{% if userInfo.payment_method_id %}
				подключен
				<a href="#" onclick="recurrentPaymentRemove()" title="Отключить автоплатеж"><i
						class="mdi mdi-close"></i></a>
				{% else %}
				не подключен <i class="mdi mdi-help-circle"
								data-tooltip="При следующей оплате вы можете подключить автоматическое продление подписки"></i>
				{% endif %}
			</div>
		</div>
		<ul class="navigation-menu">
			<li>
				<a href="/items">
					<span class="link-title">Все Товары</span>
					<i class="mdi mdi-shopping link-icon"></i>
				</a>
			</li>
			<li>
				<a href="/items/edit">
					<span class="link-title">Добавить товар</span>
					<i class="mdi mdi-plus link-icon"></i>
				</a>
			</li>
		</ul>
		<div class="sidebar-footer">
			<a class="contacts-link" href="/contacts">
				<i class="mdi mdi-help-circle-outline"></i>
				Поддержка
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	function recurrentPaymentRemove() {
		if (confirm("Отключить функцию автопродления подписки?"))
			fetch('/profile/remove-recurrent')
				.then(function () {
					document.location.reload(true);
				})
				.catch(console.error);
	}
</script>