{% extends '../layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}

{% if error %}
<div class="row">
	<div class="alert alert-danger">{{ error }}</div>
</div>
{% endif %}

{% if !userInfo.hadTest %}
<div class="alert alert-info">
	Тестовый период активирует тариф «Профессиональный» на 7 дней
	<hr>
	<a href="/subscription/payment?subscriptionType=Тестовый" class="btn btn-primary">Активировать</a>
</div>
{% endif %}

<div class="owl-carousel">
	<div class="subscription-card bg-inverse-secondary">
		<h3>{{subscriptions[0].name}}</h3>
		<i class="sub-icon mdi mdi-account-key"></i>
		<h2>{{subscriptions[0].price}}₽</h2>
		<ul>
			<li>
				<i class="mdi mdi-check"></i>
				{{subscriptions[0].maxArtCount}} артикула
			</li>
			<li class="text-muted">
				<i class="mdi mdi-close"></i>
				Отслеживание рентабельности
			</li>
			<li class="text-muted">
				<i class="mdi mdi-close"></i>
				Установка максимальной цены
			</li>
			<li class="text-muted">
				<i class="mdi mdi-close"></i>
				Отслеживание BuyBox
			</li>
		</ul>
		<hr>
		<button data-toggle="modal" data-target="#info-modal" class="btn btn-secondary" onclick="make_subscription_link(this)" data-subscription="{{subscriptions[0].name}}">
			Активировать
		</button>
	</div>
	<div class="subscription-card bg-inverse-primary">
		<h3>{{subscriptions[1].name}}</h3>
		<i class="sub-icon mdi mdi-account-check"></i>
		<h2>{{subscriptions[1].price}}₽</h2>
		<ul>
			<li>
				<i class="mdi mdi-check"></i>
				{{subscriptions[1].maxArtCount}} артикулов
			</li>
			<li>
				<i class="mdi mdi-check"></i>
				Отслеживание рентабельности
			</li>
			<li>
				<i class="mdi mdi-check"></i>
				Установка максимальной цены
			</li>
			<li class="text-muted">
				<i class="mdi mdi-close"></i>
				Отслеживание BuyBox
			</li>
		</ul>
		<hr>
		<button data-toggle="modal" data-target="#info-modal" class="btn btn-primary" onclick="make_subscription_link(this)" data-subscription="{{subscriptions[1].name}}">
			Активировать
		</button>
	</div>
	<div class="subscription-card bg-inverse-success">
		<h3>{{subscriptions[2].name}}</h3>
		<i class="sub-icon mdi mdi-account-star"></i>
		<h2>{{subscriptions[2].price}}₽</h2>
		<ul>
			<li>
				<i class="mdi mdi-check"></i>
				Нет ограничений
			</li>
			<li>
				<i class="mdi mdi-check"></i>
				Отслеживание рентабельности
			</li>
			<li>
				<i class="mdi mdi-check"></i>
				Установка максимальной цены
			</li>
			<li>
				<i class="mdi mdi-check"></i>
				Отслеживание BuyBox
			</li>
		</ul>
		<hr>
		<button data-toggle="modal" data-target="#info-modal" class="btn btn-success" onclick="make_subscription_link(this)" data-subscription="{{subscriptions[2].name}}">
			Активировать
		</button>
	</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="info-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="d-flex flex-column justify-content-center align-items-center">
					<i class="mdi mdi-timetable mdi-6x text-primary"></i>
					<h4 class="text-black font-weight-medium mb-4">
						Подключить автопродление?
					</h4>
					<p>
						Для автоматического продления подписки вы можете включить автоплатеж (только для оплаты банковской картой или через
						Я.Кошелек). Вы сможете в любой момент отключить опцию.
					</p>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button onclick="subscribe(true)" type="button" class="btn btn-primary btn-sm">
					Подключить автоплатеж
				</button>
				<button onclick="subscribe()" type="button" class="btn btn-sm btn-link text-primary component-flat" data-dismiss="modal">
					Продолжить без автопродления
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/assets/vendors/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendors/owl.carousel/assets/owl.theme.default.min.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/assets/vendors/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".owl-carousel").owlCarousel({
			responsive: {
				0: {
					items: 1,
					dots: true,
					loop: true,
				},
				600: {
					items: 2,
					dots: true,
					loop: true,
				},
				900: {
					items: 3,
					dots: false,
					autoplay: false,
				}
			},
			nav: false,
			autoplay: true,
			autoplayTimeout: 3000,
			autoplayHoverPause: true,
		});
	});
	var subscription_link = "";
	function subscribe(recurrent = false) {
		if (recurrent){
			subscription_link += '&recurrent=recurrent';
		}
		window.location.href = subscription_link;
	}
	function make_subscription_link(e) {
		let subscription_name = e.dataset.subscription;
		subscription_link = '/subscription/payment?subscriptionType=' + subscription_name;
	}
</script>
{% endblock %}