{% extends '../layouts/app.html' %}

{% block title %}Оформление подписки Topse11er{% endblock %}

{% block content %}
<div id="payment-form"></div>
{% endblock %}

{% block scripts %}
<script src="https://kassa.yandex.ru/checkout-ui/v2.js"></script>
<script>
    const checkout = new window.YandexCheckout({
        confirmation_token: '{{confirmation_token}}',
        return_url: 'https://topse11er.ru/subscription/payment/result', //Ссылка на страницу завершения оплаты
        error_callback(error) {
            //Обработка ошибок инициализации
        }
    });

    checkout.render('payment-form');
</script>
{% endblock %}