{% extends '../layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
{% if error %}
<div class="row">
	<div class="alert alert-danger">{{ error }}</div>
</div>
{% endif %}
<div class="alert alert-info">
	<p>{{info.message}}</p>
	<p>Перейти в <a href="/profile" class="alert-link">профиль</a></p>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}