<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="topse11er.ru">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"/>
	<title>{% block title %}Topse11er Панель управления{% endblock %}</title>
	<link rel="shortcut icon" href="/assets/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendor.addons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/fixedColumns.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/datepicker.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.easy-autocomplete.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/shared.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/tunes.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/theme.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
	{% block head %}{% endblock %}
</head>
<body class="header-fixed sidebar-fixed">
<nav class="t-header">
	<div class="t-header-brand-wrapper">
		<a href="/">
			<img class="logo" src="/assets/images/logo.svg" alt="">
			<img class="logo-mini" src="/assets/images/logo3.svg" alt="">
		</a>
		<button class="t-header-toggler t-header-desk-toggler d-none d-lg-block">
			<svg class="logo" viewBox="0 0 200 200">
				<path class="top" d="
                    M 40, 80
                    C 40, 80 120, 80 140, 80
                    C180, 80 180, 20  90, 80
                    C 60,100  30,120  30,120
                  "></path>
				<path class="middle" d="
                    M 40,100
                    L140,100
                  "></path>
				<path class="bottom" d="
                    M 40,120
                    C 40,120 120,120 140,120
                    C180,120 180,180  90,120
                    C 60,100  30, 80  30, 80
                  "></path>
			</svg>
		</button>
	</div>
	<div class="t-header-content-wrapper">
		<div class="t-header-content">
			<button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
				<i class="mdi mdi-menu"></i>
			</button>
            {% block header %}{% endblock %}
        </div>
		<ul class="nav ml-auto">
			<li class="nav-item dropdown">
				<div class="btn-group icon-only-dropdown">
					<button class="btn btn-rounded btn-inverse-primary dropdown-toggle" data-toggle="dropdown">
						<i class="mdi mdi-account"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="/subscription">
                            <i class="mdi mdi-speedometer"></i>
                            Подписка
                        </a>
						<a class="dropdown-item" href="/contacts">
                            <i class="mdi mdi-help-circle-outline"></i>
                            Контакты
                        </a>
						<a class="dropdown-item" href="/profile">
                            <i class="mdi mdi-account"></i>
                            Профиль
                        </a>
						<a class="dropdown-item" href="/logout">
                            <i class="mdi mdi-exit-to-app"></i>
                            Выход
                        </a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div class="page-body">
	{% include "../partials/sidebar.html" %}
	<div class="page-content-wrapper">
		{% if userInfo.showRequisitesNotification %}
		<div class="alert alert-notification alert-primary alert-dismissible fade show" role="alert">
			Первым делом укажите свой <strong>Ozon ID & API key</strong>, а также <a class="primary" href="/profile">заполните</a>
			название компании.
			После заполнения данных Вам будет доступен тестовый период в разделе «<a class="primary"
				href="/subscription">Подписка</a>»
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
		<div class="page-content-wrapper-inner">
			<div class="content-viewport">
				{% block content %}{% endblock %}
				{% block footer %}{% endblock %}
			</div>
		</div>
		{% include "../partials/footer.html" %}
	</div>
</div>

<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/assets/vendors/js/core.js"></script>
<script type="text/javascript" src="/assets/vendors/js/vendor.addons.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="/assets/js/datepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="/assets/js/template.js"></script>
<script type="text/javascript" src="/assets/js/tooltip.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>