<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="topse11er.ru">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/assets/images/favicon.ico">
	<title>{% block title %}TopSe11er{% endblock %}</title>
	{% block head %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto:400,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.css" />
	<link rel="stylesheet" href="/assets/css/style.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
	{% block scripts %}
		<script src="/assets/vendors/js/core.js"></script>
		<script src="/assets/vendors/js/vendor.addons.js"></script>
		<script src="/assets/js/template.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script src="/assets/vendors/slick/slick.min.js"></script>
		<link rel="stylesheet" href="/assets/vendors/slick/slick.css">
		<script src="/assets/js/main.min.js"></script>
	{% endblock %}
</body>
</html>