{% extends 'layouts/landing.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
    <div class="menu">
      <div class="fixed_width menu_content">
        <img src="/assets/images/logo.svg" alt="" class="menu_logo1">
        <img src="/assets/images/logo3.svg" alt="" class="menu_logo2 menu_logo_hid mobile_vis">
        <ul class="menu_nav links_on_page mobile_hidden">
          <li><a href="#about">О сервисе</a></li>
          <li><a href="#tariffs">Тарифы</a></li>
          <li><a href="#reviews">Отзывы</a></li>
        </ul>
        <div class="menu_log mobile_hidden">
          <a href="/login">Войти</a>
          <a href="/register"><button class="btn btn_green">Регистрация</button></a>
        </div>
        <div class="mobile_vis">
          <div class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="menu_mobile mobile_vis">
        <div class="menu_mobile_content">
          <ul class="menu_nav links_on_page">
            <li><a href="#about">О сервисе</a></li>
            <li><a href="#tariffs">Тарифы</a></li>
            <li><a href="#reviews">Отзывы</a></li>
          </ul>
          <form class="login login_from" method="POST" action="/login">
            <input type="email" name="email" class="log_inp" placeholder="Ваш e-mail" required>
            <input type="password" name="password" class="log_inp" placeholder="Пароль" required>
            <label class="mycheckbox">
              <input class="mycheckbox__default" type="checkbox">
              <div class="mycheckbox__new"></div>
              <div class="mycheckbox__descr">Запомнить меня</div>
            </label>
            <button class="btn btn_blue">Войти</button>
            <a href="#">Забыли пароль?</a>
            <a href="/register" class="non_undedline">
              <div class="btn btn_green">Регистрация</div>
            </a>
          </form>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="fixed_width main_content">
        <div class="main_block">
          <h1>Независимый landing page</h1>
          <p> Описание ozon-чата в telegram.</p>
          <button class="btn btn_blue">Подключиться сейчас</button>
          <p>
          <a href="#" class="test-link">
            Или закажите демонстрацию возможностей сервиса
          </a>
        </p>
          <div class="main_companies">
            <img src="/assets/images/ozon.png" alt="">
            <img src="/assets/images/take.png" alt="">
            <img src="/assets/images/lamoda.png" alt="">
          </div>
          <img src="/assets/images/table.jpg" alt="" class="main_img">
          <div class="main_stat">
            <div class="main_stat_block">
              <span>2000</span>
              <p>Товаров в каталоге</p>
            </div>
            <div class="main_stat_block">
              <span>500+</span>
              <p>Участников в проекте</p>
            </div>
            <div class="main_stat_block">
          
              <span>
                <div class="spinner-grow spinner-grow-sm text-success" role="status"><span class="sr-only">Loading...</span></div>
                {{ counters.priceChange || 1000 }}
              </span>
              <p>Цен изменено автоматически</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="descr" id="about">
      <div class="fixed_width descr_content">
        <div class="descr_block">
          <h2>Лучшая цена, больше продаж - автоматически!</h2>
          <p class="descr_green"><img src="/assets/images/green_arr.png" alt=""> Сервис работает 24/7 </p>
          <p class="p_par">Маркетплейсы учитывают множество факторов при распределении процента нахождения селлеров на BUY BOX (кнопке “купить”). Однако основным фактором является цена. С ростом количества поставщиков отслеживать цены в ручном режиме становится сложнее и на это уходит много времени.
Сервис TOPSE11ER авторепрайсер поможет Вам автоматизировать процесс торга с конкурентами и получить до 40% больше продаж за счет постоянного нахождения Ваших товаров на кнопке “купить”.
</p>
          <form action="" class="">
            <input type="text" class="log_inp mobile_vis" placeholder="Ваше имя">
            <input type="email" class="log_inp mobile_vis" placeholder="Ваше e-mail">
            <button onclick="window.location.href = 't-do.ru/TOPSE11ER';" class="btn btn_blue">Заказать консультацию</button>
          </form>
        </div>
      </div>
    </div>
    <div class="price">
      <div class="fixed_width price_content">
        <div class="price_header">
          <h2>Стратегия изменения цен</h2>
        </div>
        <div class="price_list">
          <div class="price_line"></div>
          <div class="price_block">
            <span>01</span>
            <div class="price_block_mark">
              <div>
                <p></p>
              </div>
            </div>
            <p class="p_par">Зарегистрируйтесь, это бесплатно. Добавьте товары и ссылки на товары Ваших конкурентов. </p>
          </div>
          <div class="price_block price_block_right">
            <span>02</span>
            <div class="price_block_mark">
              <div>
                <p></p>
              </div>
            </div>
            <p class="p_par">Установите минимальные/максимальные цены на товары, закупочную стоимость, комиссию маркетплейса.</p>
          </div>
          <div class="price_block">
            <span>03</span>
            <div class="price_block_mark">
              <div>
                <p></p>
              </div>
            </div>
            <p class="p_par">Запустите авторепайсер и сервис активирует постоянную проверку цен Ваших конкурентов.</p>
          </div>
          <div class="price_block price_block_right">
            <span>04</span>
            <div class="price_block_mark">
              <div>
                <p></p>
              </div>
            </div>
            <p class="p_par">При обнаружении более низкой цены, авторепрайсер установит более выгодную цену на Ваш товар.</p>
          </div>
        </div>
      </div>
      <img src="/assets/images/tower1.png" alt="" class="tower tower1">
      <img src="/assets/images/tower2.png" alt="" class="tower tower2">
    </div>
    <div class="blue_sect">
      <div class="fixed_width blue_sect_content">
        <h2>Больше не нужно тратить время и отслеживать цены конкурентов</h2>
          <p class="p_par">Укажите закупочную стоимость товра и % комиссии маркетплейса - сервис покажет рентабельность. 
Задайте минимальную цену товара, ниже которой авторепрайсер не будет снижать цену. 
Установите максимальную стоимость товара - авторепрайсер установит ее при отсутствии конкурентов. 
Все данные будут перед глазами в удобном веб интерфейсе или на мобильном устройстве. 
      </div>
    </div>
    <div class="reviews" id="reviews">
      <div class="fixed_width reviews_content">
        <div class="reviews_header">
          <h2>Отзывы клиентов</h2>
          <p class="p_par">TOPSE11ER AUTOREPRICER экономит ваше время и деньги. Но не верьте нам на слово.
            Вот что говорят о нас наши клиенты:</p>
          <div class="reviews_header_arrows"></div>
        </div>
      </div>
      <div class="reviews_slider">
        <div class="reviews_slide">
          <div class="reviews_item">
            <p>Супер сервис, который помог мне освободить время и увеличить продажи.</p>
          </div>
        </div>
        <div class="reviews_slide">
          <div class="reviews_item">
            <p>Всегда стараюсь все автоматизировать. Автоматизация стратегии назначения цены товара на Озоне просто находка.</p>
          </div>
        </div>
        <div class="reviews_slide">
          <div class="reviews_item">
            <p>Данный сервис увеличил наши продажи на 40%!</p>
          </div>
        </div>
        <div class="reviews_slide reviews_hidden">
          <div class="reviews_item">
            <p>Тратил до трех часов в день на отслеживание цен конкурентов, и все равно руками не все успевал отследить. С авторепрайсером от Topseller торг с конкурентами и изменение цен на товары полностью автоматизированы. Продажи вверх!</p>
          </div>
        </div>
        <div class="reviews_slide reviews_hidden">
          <div class="reviews_item">
            <p>Очень удобный сервис, который по нашему сценарию устанавливает цену на товар. Экономим много времени и получаем отличные результаты по заказам и прибыли.</p>
          </div>
        </div>
        <div class="reviews_slide reviews_hidden">
          <div class="reviews_item">
            <p>Спасибо разработчикам за Авторепрайсер. Очень нужный и полезный сервис!</p>
          </div>
        </div>
      </div>
      <button class="btn btn_blue mobile_vis" id="more">Показать еще</button>
    </div>
    <div class="blue_sect tariffs" id="tariffs">
      <div class="fixed_width tariffs_content">
        <div class="tariffs_header">
          <h2>Тарифы</h2>
          <p class="p_par">Мы предлагаем гибкие тарифы с ежемесячной оплатой. Выбери тот, который подойдет именно тебе. Вы также можете попробовать сервис авторепрайсер - это полностью бесплатно в течении 7 дней</p>
        </div>
        <div class="tariffs_list">
          <div class="tariffs_block">
            <h3>Базовый</h3>
            <h2>2990₽</h2>
            <p>3 артикула</p>
            <p class="tariffs_block_non">Отслеживание рентабельности</p>
            <p class="tariffs_block_non">Установка максимальной цены</p>
            <p class="tariffs_block_non">Отслеживание BuyBox</p>
            <button onclick="window.location.href = '/register';" class="btn btn_blue">Подключиться</button>
          </div>
          <div class="tariffs_block tariffs_block_main">
            <span class="tariffs_block_recomended">Популярный</span>
            <h3>Основной</h3>
            <h2>3990₽</h2>
            <p>10 артикулов</p>
            <p>Отслеживание рентабельности</p>
            <p>Установка максимальной цены</p>
            <p class="tariffs_block_non">Отслеживание BuyBox</p>
            <button onclick="window.location.href = '/register';" class="btn btn_blue">Подключиться</button>
          </div>
          <div class="tariffs_block">
            <h3>Профессиональный</h3>
            <h2>4990₽</h2>
            <p>Нет ограничений</p>
            <p>Отслеживание рентабельности</p>
            <p>Установка максимальной цены</p>
            <p>Отслеживание BuyBox</p>
            <button onclick="window.location.href = '/register';" class="btn btn_blue">Подключиться</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer blue_sect">
      <div class="fixed_width footer_content">
        <div class="footer_top">
          <h2>Остались вопросы?</h2>
          <p class="p_par">Оставьте Ваши контактные данные и с Вами свяжется наш консультант</p>
          <div class="footer_reg">
            <input type="name" class="inp" placeholder="Ваше имя">
            <input type="email" class="inp" placeholder="Ваш e-mail">
            <button class="btn btn_green">Отправить</button>
          </div>
        </div>
        <div class="footer_bot">
          <div class="footer_info">
            <img src="/assets/images/logo2.svg" alt="">
          </div>
          <div class="footer_block">
            <h4 class="footer_block_head">Карта сайта</h4>
            <a href="#">О сервисе</a>
            <a href="#">Тарифы</a>
            <a href="#">Отзывы</a>
            <a href="/conditions.html">Условия использования сервиса</a>
            <a href="/policy.html">Политика конфиденциальности</a>
          </div>
          <div class="footer_block footer_cont">
            <h4 class="footer_block_head">Контакты</h4>
            <a href="tel:+7(495)409-9891"><img src="/assets/images/phone.png" alt="">+7(495)409-9891</a>
            <a href="mailto:info@topse11er.ru"><img src="/assets/images/mail.png" alt="">info@topse11er.ru</a>
            <a href="https://t-do.ru/TOPSE11ER">
              <img src="/assets/images/telegram.svg" alt="" class="telegram-icon">
              Telegram
            </a>
            <p>Москва, Сторожевая улица 26 строение 1</p>
            <a href="/requisites.html">Реквизиты</a>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}