{% extends 'layouts/chat.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}

<div class="alert alert-info">
	<h2>У вас возникли сложности по настройке или любой другой вопрос?</h2>
	<hr>
	Вы можете:
	<ul class="contacts-list">
		<li>
			написать нам на почту <a class="alert-link" href="mailto:support@topse11er.ru">support@topse11er.ru</a>
		</li>
		<li>
			связаться с нами в <a class="alert-link" href="https://t-do.ru/TOPSE11ER">Telegram</a>
		</li>
	</ul>
</div>

{% endblock %}