{% extends 'layouts/auth.html' %}

{% block title %}TopSe11er login{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="login_wrap">
	<form class="login login_from" method="POST" action="/login">
		<a href="/"><img src="/assets/images/logo.svg" alt="" class="login_logo"></a>
		<div class="form-group label-floating">
			<input type="email" name="email" class="log_inp form-control" placeholder="Email" required>
			<label class="control-label">Email</label>
		</div>
		<div class="form-group label-floating">
			<input type="password" name="password" class="log_inp form-control" placeholder="Пароль" required>
			<label class="control-label">Пароль</label>
		</div>
		<label class="mycheckbox">
			<input class="mycheckbox__default" type="checkbox">
			<div class="mycheckbox__new"></div>
			<div class="mycheckbox__descr">Запомнить меня</div>
		</label>
		<button type="submit" class="btn btn_blue">Войти</button>
		<p>У вас еще нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
	</form>
	<img src="/assets/images/tower1.png" alt="" class="login_tower login_tower_1">
	<img src="/assets/images/tower2.png" alt="" class="login_tower login_tower_2">
</div>

{% endblock %}