{% extends 'layouts/auth.html' %}

{% block title %}TopSe11er login{% endblock %}

{% block content %}
    <div class="login_wrap reg">
    <form class="login login_from" method="POST" action="/register">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div><br>
        {% endif %}
        <a href="/"><img src="/assets/images/logo.svg" alt="" class="login_logo"></a>
        <div class="form-group label-floating">
            <input type="text" name="name" class="log_inp form-control" placeholder="Ваше имя" required data-val="name">
            <label class="control-label">Ваше имя</label>
        </div>
        <div class="form-group label-floating">
            <input type="text" name="lastname" class="log_inp form-control" placeholder="Фамилия" required data-val="name">
            <label class="control-label">Фамилия</label>
        </div>
        <div class="form-group label-floating">
            <input type="email" name="email" class="log_inp form-control" placeholder="Введите свой email-адрес" required data-val="email">
            <label class="control-label">Введите свой email-адрес</label>
        </div>
        <div class="form-group label-floating">
            <input type="password" name='password' class="log_inp form-control" placeholder="Придумайте пароль" required data-val="pass">
            <label class="control-label">Придумайте пароль</label>
        </div>
        <div class="form-group label-floating">
            <input type="password" name='passwordcopy' class="log_inp form-control" placeholder="Повторите пароль" required data-val="passcopy">
            <label class="control-label">Повторите пароль</label>
        </div>
        <label class="mycheckbox">
            <input name="check" class="mycheckbox__default" type="checkbox" required data-val="check">
            <div class="mycheckbox__new"></div>
            <div class="mycheckbox__descr">Я принимаю <a href="/policy.html" target="_blank">условия передачи информации</a>
            </div>
        </label>
        <button type="submit" class="btn btn_green">Зарегистрироваться</button>
        <p>Уже зарегистрированы <a href="/login" class="reg_link">Войдите</a></p>
        <small>Нажмиая «Зарегистрироваться» вы принимаете <a href="/conditions.html" target="_blank">следущие условия
                использования.</a></small>
    </form>
    <img src="/assets/images/tower1.png" alt="" class="login_tower login_tower_1">
    <img src="/assets/images/tower2.png" alt="" class="login_tower login_tower_2">
    </div>
{% endblock %}