{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
    <div class="page-body">
    {% include "partials/sidebar.html" %}
      <div class="page-content-wrapper" style="margin-top: 0px">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-10 py-5">
                <h4>Персональная панель управления</h4>
                <p class="text-gray">Держи руку на пульсе</p>
              </div>
              <div class="col-2 py-5 text-right">
                <a class="dropdown-grid" href="/logout">
                  <i class="grid-icon mdi mdi-logout mdi-3x"></i> 
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 text-center text-sm-right order-sm-1">

              </div>
              <!-- <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
                <a href="/collect/totals" target="_blank">Заполнить таблицы</a>
                <br>
                <a href="/collect/all" target="_blank">Скачать все</a>
              </div> -->
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Пользователи</p>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                      <tr class="solid-header">
                        <th>Действия</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Авторепрайсер</th>
                        <th>ozonClientId</th>
                        <th>ozonApiKey</th>
                        <th>Подписка</th>
                        <th>Дата истечения</th>
                      </tr>
                      </thead>
                      <tbody id="salesDetails">
                        {% for key, user in users %}
                        <tr>
                          <td class="pr-0 pl-4">
                            <button class="btn btn-primary w-50 mr-2" onclick="download( '{{ user.email }}' )" type="button">Скачать</button>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.lastname}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.name}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.email}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.password}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{%if user.autorepricer_run%}Активен{% else %}Отключен{% endif %}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.ozonClientId}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.ozonApiKey}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.subscription_name}}</small>
                          </td>
                          <td class="pr-0 pl-4">
                            <small>{{user.subscription_date}}</small>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% include "partials/footer.html" %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
      function download(email){
        axios.get('/collect/byUser?user='+email);
      };
</script>
{% endblock %}