{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
<div class="page-body">
  {% include "partials/sidebar.html" %}
  <div class="page-content-wrapper" style="margin-top: 0px">
    <div class="page-content-wrapper-inner">
      <div class="content-viewport">
        <div class="row">
          <div class="col-10 py-5">
            <h4>Персональная панель управления</h4>
            <p class="text-gray">Держи руку на пульсе</p>
          </div>
          <div class="col-2 py-5 text-right">
            <a class="dropdown-grid" href="/logout">
              <i class="grid-icon mdi mdi-logout mdi-3x"></i>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 equel-grid">
            <div class="grid">
              <div class="grid-body py-3">
                <p class="card-title ml-n1">Товары</p>
              </div>
            </div>
          </div>
        </div>
        {% if error %}
        <div class="row">
          <div class="alert alert-danger">{{ error }}</div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12 equel-grid">
            <div class="grid">
              <form action="/items" method="POST" class="grid-body">
                <div>
                  <label for="inputName" class="sr-only">Название</label>
                  <input style="margin-top: 10px;" type="text" name="name" id="name" class="form-control mr-2" placeholder="Название" required
                    style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Картинка</label>
                  <input style="margin-top: 10px;" type="text" name="image" id="image" class="form-control mr-2" placeholder="Картинка" required
                    style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Артикул OZON</label>
                  <input style="margin-top: 10px;" type="text" name="ozon" id="ozon" class="form-control mr-2" placeholder="Артикул OZON" required
                    style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Артикул Wildberries</label>
                  <input style="margin-top: 10px;" type="text" name="wildberries" id="wildberries" class="form-control mr-2"
                    placeholder="Артикул Wildberries" required style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Артикул</label>
                  <input style="margin-top: 10px;" type="text" name="own" id="own" class="form-control mr-2" placeholder="Артикул" required
                    style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Цена</label>
                  <input style="margin-top: 10px;" type="number" name="price" id="price" class="form-control mr-2" placeholder="Цена" required
                    style="min-width: 100px;" />
                  <label for="inputName" class="sr-only">Категория</label>
                  <select style="margin-top: 10px;" name="category" class="custom-select">
                    <option selected="Выберите категорию">Выберите категорию ниже</option>
                    {% for key, item in categories %}
                    {% if item.name.length %}
                      <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>

                <div class="d-flex flex-row mt-4">
                  <button class="btn btn-primary" style="width: 100%;" type="submit">Добавить товар</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
</div>
</div>
{% endblock %}


{% block scripts %}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js">
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
<script type="text/javascript">
  $('#inputDate').datepicker({
    autoClose: true
  })
  var options = {

    url: "/autocompleteStore",
    getValue: "product_name",
    list: {
      match: {
        enabled: true
      }
    },

    theme: "square"
  };

  $("[name='title']").easyAutocomplete(options);
  $('#rasbutton').click(function () {
    $(this).closest('form').attr('action', '/storediv');
    $(this).closest('form').submit();
  })
  $('[name="count"]').on('keyup', function () {
    if (parseInt($(this).val()) < 0) {
      $(this).val(0);
    }
  })
</script>
{% endblock %}