{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
<div class="page-body">
  {% include "partials/sidebar.html" %}
  <div class="page-content-wrapper" style="margin-top: 0px">
    <div class="page-content-wrapper-inner">
      <div class="content-viewport">
        <div class="row">
          <div class="col-10 py-5">
            <h4>Персональная панель управления</h4>
            <p class="text-gray">Держи руку на пульсе</p>
          </div>
          <div class="col-2 py-5 text-right">
            <a class="dropdown-grid" href="/logout">
              <i class="grid-icon mdi mdi-logout mdi-3x"></i>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 equel-grid">
            <div class="grid">
              <div class="grid-body py-3">
                <p class="card-title ml-n1">Товары</p>
              </div>
            </div>
          </div>
        </div>
        {% if error %}
        <div class="row">
          <div class="alert alert-danger">{{ error }}</div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12 equel-grid">
            <div class="grid">
              <form action="/items" method="POST" class="grid-body">
                <div class="d-flex flex-row mt-4">
                  <button class="btn btn-primary" style="width: 49%;"
                    onclick="window.location = 'http://topse11er.ru/additem'; return false;">Добавить товар</button>
                  <button class="btn btn-primary" style="width: 49%;"
                    onclick="window.location = 'http://topse11er.ru/categories'; return false;">Добавить категорию</button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="grid">
          <p class="grid-header">Категории</p>
          <div class="item-wrapper">
            <div class="table-responsive">
              <table class="table info-table table-striped">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Ссылка</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, item in categories %}
                  {% if item.name.length %}
                    <tr>
                      <td>{{ item.name }}</td>
                      <td><a href="/items/{{ item.name }}">Открыть</a></td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 equel-grid">
          <div class="grid">

            <div class="table-responsive">
              <table class="table table-hover table-sm">
                <thead>
                  <tr class="solid-header">
                    <th>Название</th>
                    <th>Картинка</th>
                    <th>Артикул OZON</th>
                    <th>Артикул Wildberries</th>
                    <th>Артикул</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>Количество</th>
                  </tr>
                </thead>
                <tbody id="salesDetails">
                  {% for key, item in items %}
                  {% if item.name.length && item.image.indexOf('http') !== -1 %}
                  <tr>
                    <td class="pr-0 pl-4">
                      <small>{{ item.name }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <img src="{{ item.image }}" width="100px"></img>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.ozon }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.wildberries }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.own }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.category }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.price }}</small>
                    </td>
                    <td class="pr-0 pl-4">
                      <small>{{ item.count || 0 }}</small>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include "partials/footer.html" %}
</div>
</div>
{% endblock %}


{% block scripts %}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js">
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
<script type="text/javascript">
  $('#inputDate').datepicker({
    autoClose: true
  })
  var options = {

    url: "/autocompleteStore",
    getValue: "product_name",
    list: {
      match: {
        enabled: true
      }
    },

    theme: "square"
  };

  $("[name='title']").easyAutocomplete(options);
  $('#rasbutton').click(function () {
    $(this).closest('form').attr('action', '/storediv');
    $(this).closest('form').submit();
  })
  $('[name="count"]').on('keyup', function () {
    if (parseInt($(this).val()) < 0) {
      $(this).val(0);
    }
  })
</script>
{% endblock %}