BODY{
	background: #fbfcfd;
}

#tooltip-help-element {
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: center;
	font: italic 14px/1.3 sans-serif;
	color: #333;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	z-index: 3000;
}

.form-group.label-floating .form-control::placeholder{
	font-size: 0;
}

.form-group.label-floating{
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 13px;
	z-index: 1;
	background-color: #f8f9fb;
	border-radius: 0.25rem;
	width: 100%;
}

.form-group.label-floating .control-label{
	position: absolute;
	font-size: 14px;
	color: #ccc;
	transition: all .3s ease;
	display: none;
	z-index: -1;
	margin: 0;
	white-space: nowrap;
}

.form-group.label-floating .form-control{
	background: transparent;
	margin: 0;
}

.form-group.label-floating .form-control:placeholder-shown + .control-label
{
	position: absolute;
	top: 5px;
	left: 21px;
	color: #afb5ba;
	font-size: inherit;
	display: block;
}


.form-group.label-floating .form-control:focus + .control-label,
.form-group.label-floating .form-control + .control-label
{
	position: absolute;
	display: block;
	top: -18px;
	left: 20px;
	font-size: 11px;
	color: #777;
}

.login_wrap .form-group.label-floating{
	margin-bottom: 10px;
}

.login_wrap .form-group.label-floating .form-control:placeholder-shown:not(:focus) + .control-label{
	top: 12px;
}


.t-header-content .form-group{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 2.5rem;
}

@media (min-width: 991.98px) {
	.t-header-content .form-group{
		margin-left: -2.5rem;
		margin-right: 2.5rem;
	}
}


.page-content-wrapper-inner{
	height: 100%;
	min-height: 100%;
}

.page-content-full-wrapper{
	margin: -1.5rem -2.5rem 0 -2.5em;
	height: 100%;
}

.tooltip .tooltip-inner{
	background: #fff;
	border: #f2f4f9;
	max-width: 50vw;
	padding: 5px 10px;
}


.sidebar-fixed .t-header{
	border-bottom: solid #f2f4f9 1px;
}

.sidebar-fixed .t-header .t-header-brand-wrapper{
	height: 64px;
}

.sidebar-fixed .page-body{
	display: block;
	margin-left: 17rem;
}

.sidebar-fixed .sidebar{
	position: fixed;
	padding-top: 0;
	top: 63px;
	left: 0;
	z-index: 100;
	transition: margin-left 0.3s;
	height: calc(100vh - 63px);
}

.sidebar-fixed.sidebar-minimized .sidebar{
	margin-left: -17rem;
}
.sidebar-fixed.sidebar-minimized .page-body{
	margin-left: 0;
}

@media (max-width: 991.98px) {
	.sidebar-fixed .sidebar{
		border-right: solid #f2f4f9 1px;
	}
	.sidebar-fixed .page-body{
		margin-left: 0;
	}
}

.sidebar-inner{
	height: 100%;
	position: relative;
}

.sidebar-info-block{
	padding: 12px 30px;
	border-bottom: solid #f2f4f9 1px;
}

.sidebar-footer{
	position: absolute;
	z-index: 100;
	bottom: 63px;
	left: 0;
	padding: 20px;
	width: 100%;
}

.contacts-link{
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #666;
}

.contacts-link:hover {
	color: #333;
}

.contacts-list{
	list-style-type: disc;
	padding-left: 20px;
}

.ar-info{
	padding-top: 0;
}

.ar-info .ar-toggle{
	cursor: pointer;
}

.ar-control{
	display: flex;
	margin-bottom: 5px;
}

.ar-control .ar-status{
	flex: 1;
	margin-right: 5px;
}

.ar-control .ar-toggle{
	flex: 0.5;
}

.sub-info{
	font-size: 11px;
	white-space: nowrap;
}

.sub-info a:hover{
	text-decoration: underline;
}


.subscription-card{
	text-align: center;
	margin: 15px;
	padding: 15px;
	border-radius: 5px;
	min-height: 330px;
}

.subscription-card .sub-icon{
	display: block;
	font-size: 75px;
	height: 75px;
	line-height: 75px;
}

.subscription-card ul{
	text-align: left;
	display: inline-block;
	margin: 15px 0 0 0;
}

textarea.log-window{
	border: none;
	border-radius: 0;
	padding-top: 15px;
	height: calc(100vh - 155px);
	background: transparent;
}

.owl-dots{
	text-align: center;
}

.owl-carousel .owl-dots button.owl-dot{
	display: inline-block;
	background-color: #ccc;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
}

.owl-carousel .owl-dots button.owl-dot.active{
	background-color: #857bff;
}

.dataTables_scroll{
	max-width: initial;
	background: #fff;
}

.dataTables_wrapper table.dataTable{
	margin: 0 !important;
}

.dataTables_scroll .dataTables_scrollBody{
	box-shadow: none;
}

.dataTables_wrapper table.dataTable thead tr .sorting_asc, .dataTables_wrapper table.dataTable thead tr .sorting_desc{
	border-radius: 0;
}

.dataTables_wrapper table.dataTable thead tr th:not(.sorting){
	border-bottom: none;
}

.dataTables_scrollHeadInner{
	border-bottom: 1px solid #f2f4f9;
}

.dataTables_scrollHeadInner .table tr th {
	font-size: 11px;
}

.dataTables_wrapper table.dataTable thead th.sorting_asc, .dataTables_wrapper table.dataTable thead th.sorting_desc, .dataTables_wrapper table.dataTable thead th.sorting, .dataTables_wrapper table.dataTable tfoot th.sorting_asc, .dataTables_wrapper table.dataTable tfoot th.sorting_desc, .dataTables_wrapper table.dataTable tfoot th.sorting{
	padding-right: 15px;
}

.dataTables_wrapper table.dataTable thead th.sorting_disabled, .dataTables_wrapper table.dataTable tfoot th.sorting_disabled{
	padding-right: 0;
}

.table.table-xs td{
	padding: 3px 5px;
}

.table:not(.table-dark) tbody tr td, table:not(.table-dark) tbody tr td{
	color: #333;
	font-size: 12px;
}

.dataTables_wrapper table.dataTable tbody tr td.sorting_1{
	background: transparent;
	color: #000;
}

div.dataTables_wrapper div.dataTables_paginate{
	margin-top: 15px;
	margin-right: 15px;
}

div.dataTables_wrapper div.dataTables_info{
	margin-top: 20px;
	padding-top: 0;
	margin-left: 15px;
}

div.dataTables_wrapper div.dataTables_length {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 3px;
}

div.dataTables_wrapper div.dataTables_filter {
	margin-top: 10px;
	margin-right: 15px;
}

.double-badge{
	display: flex;
}

.double-badge .badge{
	flex: 1;
	margin: 0 5px;
}

.custom-control-label{
	cursor: pointer;
}

.table .solid-header th{
	position: relative;
}

.log-window{
	padding: 15px;
	height: calc(100vh - 155px);
	overflow-y: scroll;
}

.log-line{
	padding: 5px;
	border-bottom: solid #f2f4f9 1px;
	font-size: 12px;
}

.log-line .log-line-date{
	color: #999;
}

.log-line .log-line-text{
	color: #666;
	padding-left: 15px;
}

.log-line .log-filter-highlight{
	display: inline-block;
	background: #cdcd00;
	color: #000;
	padding: 0 5px;
}
