{% extends '../layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block header %}
<div class="form-group label-floating">
	<input type="text" placeholder="Поиск" id="log-filter" class="form-control">
	<label class="control-label">Поиск по логам</label>
</div>
{% endblock %}

{% block content %}
<div class="page-content-full-wrapper">
	<div id="log-window" class="log-window" disabled></div>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
	let logWindow = $("#log-window");
	let logFilter = $("#log-filter");
	let updateLog = function(){
		$.ajax({
			type: 'GET',
			url: '/getlog',
			dataType: 'json',
			success: function (response) {
				for(let i in response){
					let line = response[i];
					let hash = 0;
					for (let i = 0; i < line.length; i++) {
						let chr   = line.charCodeAt(i);
						hash  = ((hash << 5) - hash) + chr;
						hash |= 0;
					}
					line = line.split('|');
					let date = line[0].trim();
					let type = line[1].trim();
					if(type=='error') type = 'danger';
					let text = line[2].trim();
					let lineElement = logWindow.find('.log-line[data-hash="' + hash + '"]');
					if(!lineElement.length){
						let lineElement =
							$(`<div class="log-line" data-hash="${hash}">
								<span class="log-line-date">${date}</span>
								<span class="log-line-text text-${type}">${text}</span>
							</div>`);
						logWindow.prepend(lineElement);
					}
				}
				filterLog();
				setTimeout(updateLog, 5000);
			}
		});
	};
	let filterLog = function(){
		let value = logFilter.val().trim();
		if(value.length){
			logWindow.find(".log-line-date, .log-line-text").each(function(n, element){
				let text = $(element).text();
				let regExp = new RegExp(`(${value})`, "gi");
				if(text.match(regExp)){
					$(element).html(text.replace(regExp, '<span class="log-filter-highlight">$1</span>'));
				} else {
					$(element).find(".log-filter-highlight").contents().unwrap();
				}
			});
		} else {
			logWindow.find(".log-filter-highlight").contents().unwrap();
		}
	};
	logFilter.on("change keyup input", filterLog);
	updateLog();
</script>

{% endblock %}