{% extends '../layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-8 offset-lg-2 col-md-12">
		<div class="grid">
			<p class="grid-header">
				{% if item %}
				Редактирование товара
				{% else %}
				Добавление товара
				{% endif %}
			</p>
			<div class="grid-body">
				<div class="item-wrapper">
					<form action="/items/edit{{'/'+item.art || ''}}" method="POST">
						<div class="form-group label-floating">
							<input type="text" name="art" id="inputArt" class="form-control mr-2" placeholder="Артикул" required value="{{ item.art || ''}}"/>
							<label for="inputArt" class="control-label" data-toggle="tooltip" title="Артикул должен совпадать с Артикулом на маркетплейсе OZON">
								Артикул
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="form-group label-floating">
							<input type="text" name="name" id="inputName" class="form-control mr-2" placeholder="Название" value="{{ item.name || ''}}"/>
							<label for="inputName" class="control-label">
								Название
							</label>
						</div>
						<div class="form-group label-floating">
							<input type="number" name="cost" id="inputCost" class="form-control mr-2" placeholder="Закупочная стоимость" required value="{{ item.cost || ''}}"/>
							<label for="inputCost" class="control-label" data-toggle="tooltip" title="Ваша закупочная стоимость">
								Закупочная стоимость
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="form-group label-floating">
							<input type="number" name="minPrice" id="inputMinPrice" class="form-control mr-2" placeholder="Минимальная цена" required value="{{ item.minPrice || ''}}"/>
							<label for="inputMinPrice" class="control-label" data-toggle="tooltip" title="Цена, ниже которой авторепрайсер не опустится">
								Минимальная цена
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="form-group label-floating">
							<input type="number" name="maxPrice" id="inputMaxPrice" class="form-control mr-2" placeholder="Максимальная цена" value="{{ item.maxPrice || ''}}"/>
							<label for="inputMaxPrice" class="control-label" data-toggle="tooltip" title="Цена, которая будет установлена, если не будет найдено предложений конкурентов">
								Максимальная цена
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="form-group label-floating">
							<input type="number" name="commission" id="inputCommission" class="form-control mr-2" placeholder="Процент комиссии" required value="{{ item.commission || ''}}"/>
							<label for="inputCommission" class="control-label" data-toggle="tooltip" title="Процент OZON  по товару">
								Комиссия
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="form-group label-floating">
							<textarea rows="5" name="links" id="inputLinks" class="form-control mr-2" placeholder="Ссылки Ozon" required>{{ item.links || '' }}</textarea>
							<label for="inputLinks" class="control-label" data-toggle="tooltip" title="Укажите ссылки на карточки конкурентов. Первой ссылкой укажите свою карточку. Далее с новой строки - конкуренты.">
								Ссылки на Ozon
								<i class="mdi mdi-help-circle"></i>
							</label>
						</div>
						<div class="row">
							<div class="col-12">
								<button class="btn btn-primary" type="submit">
									{% if item %}
									Сохранить
									{% else %}
									Добавить товар
									{% endif %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function setMinPrice() {
		document.getElementById('inputMinPrice').value = document.getElementById('inputCost').value;
	}
</script>
{% endblock %}