{% extends '../layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="page-content-full-wrapper">
	<div class="table-responsive">
		<table class="table table-hover table-bordered table-xs" id="ozonItemsTable" style="width: 100%">
			<thead>
			<tr class="solid-header">
				<th>
					<div class="custom-control custom-switch" style="padding-left: 28px;">
						<input type="checkbox" onchange="checkMainToggle(true)" class="custom-control-input" style="position: relative; width: auto;" id="toggleItems" {% if triggerOn %}checked="checked" {% endif %}>
						<label class="custom-control-label" for="toggleItems" id="labelToggleItems"></label>
					</div>
				</th>
				<th data-toggle="tooltip" title="Артикул должен совпадать с Артикулом на маркетплейсе OZON">
					Артикул
				</th>
				<th>
					Название
				</th>
				<th data-toggle="tooltip" title="Знак корзины показывает, что в данный момент Ваша цена является основной в карточке товара">
					BuyBox
				</th>
				<th data-toggle="tooltip" title="Ваша закупочная стоимость">
					Зак.Cт.
				</th>
				<th data-toggle="tooltip" title="Цена, ниже которой авторепрайсер не опустится">
					Мин
				</th>
				<th data-toggle="tooltip" title="Цена, которая будет установлена, если не будет найдено предложений конкурентов">
					Макс
				</th>
				<th data-toggle="tooltip" title="Текущая цена товара на маркетплейсе OZON">
					Цена
				</th>
				<th data-toggle="tooltip" title="Процент OZON  по товару">Комиссия</th>
				<th data-toggle="tooltip" title="Текущая рентабельность по товару">Рентабельность</th>
				<th>Ссылки</th>
				<th></th>
			</tr>
			</thead>
			<tbody id="salesDetails">
			{% for key, item in items %}
				{% if item.art.length %}
					<tr>
						<td>
							<div class="custom-control custom-switch">
								<input type="checkbox" onchange="toggleOzonItem(this)" class="custom-control-input" style="position: relative; width: auto;" name="{{item.art}}" id="toggle{{item.art}}" {% if item.active %} checked="checked" {% endif %}>
								<label class="custom-control-label" for="toggle{{item.art}}" id="labelToggle{{item.art}}"></label>
							</div>
						</td>
						<td class="text-center">
							{{ item.art }}
						</td>
						<td>
							{{ item.name }}
						</td>
						<td class="text-center">
							{% if item.buybox %}<i class="mdi mdi-cart"></i>{% else %} - {% endif %}
						</td>
						<td class="text-center">
							{{ item.cost }}
						</td>
						<td class="text-center">
							{{ item.minPrice }}
						</td>
						<td class="text-center">
							{{ item.maxPrice || '-'}}
						</td>
						<td class="text-center">
							{{ item.currentPrice || '-'}}
						</td>
						<td class="font-weight-medium text-center">
							{{ item.commission || 0 }}%
						</td>
						<td>
							{% if item.currentPrice %}
							<div class="double-badge">
								<div class="badge {% if (item.profit < 0) %}badge-inverse-danger{% else %}badge-inverse-success{% endif %}">
									{{item.profit}}
								</div>
								<div class="badge {% if (item.profit < 0) %}badge-inverse-danger{% else %}badge-inverse-success{% endif %}">
									{{ item.profitPercent }}%
								</div>
							</div>
							{% else %}
							-
							{% endif %}
						</td>
						<td>
							<div class="btn-group dropleft" style="width: 100%;">
								<button type="button" class="btn btn-block btn-xs btn-inverse-info has-icon dropdown-toggle" data-toggle="dropdown">
									<i class="mdi mdi-eye"></i>
									({{ item.links.length }})
								</button>
								<div class="dropdown-menu">
									{% for key,link in item.links %}
									<a class="dropdown-item" href="{{ link.address }}" target="_blank">{{link.name}}</a>
									{% endfor %}
								</div>
							</div>
						</td>
						<td>
							<div class="btn-group icon-only-dropdown dropleft">
								<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="main-wrapper">
									<i class="mdi mdi-dots-vertical"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<div class="dropdown-item custom-control custom-switch">
										<input type="checkbox" id="abroad{{item.art}}" class="custom-control-input" onchange="toggleAbroad('{{item.art}}')" {% if item.abroad %} checked="checked" {% endif %}>
										<label class="custom-control-label ml-5" for="abroad{{item.art}}">
											Из-за рубежа
										</label>
									</div>
									<div class="dropdown-item custom-control custom-switch">
										<input type="checkbox" id="hold{{item.art}}" class="custom-control-input" onchange="toggleHold('{{item.art}}')"
											{% if item.hold %} checked="checked" {% endif %}>
										<label class="custom-control-label ml-5" for="hold{{item.art}}">
											Держать цену
										</label>
									</div>
									<a style="font-family: inherit" class="dropdown-item" href="/items/edit/{{item.art}}">
										<i class="mdi mdi-pencil"></i>
										Редактировать
									</a>
									<button class="btn-link dropdown-item" onclick="deleteOzonItem('{{item.art}}')">
										<i class="mdi mdi-close-circle"></i>
										Удалить
									</button>
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	function deleteOzonItem(itemArt) {
		if (confirm("Удалить товар " + itemArt + "?"))
			fetch('/items/edit',
				{
					method: 'delete',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify({'art': itemArt})
				}
			)
				.then(res => {
					if (res.ok)
						location.reload()
					else console.error(res);
				});
	}

	function toggleOzonItem(toggleInput, checkMain = true) {
		let itemArt = toggleInput.name;
		fetch('/items/toggle',
			{
				method: 'post',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({'art': itemArt, 'active': Boolean(toggleInput.checked)})
			}
		).then(function (response) {
			return response.json();
		})
			.then((result) => {
				toggleInput.checked = Boolean(result.active);
				if (checkMain)
					checkMainToggle();
			});
	}

	function checkMainToggle(toggle = false) {
		var mainToggle = document.querySelector('#toggleItems');
		var itemToggles = document.querySelectorAll('#salesDetails td > div > input.custom-control-input');

		if (toggle)
			itemToggles.forEach(toggleElement => {
				toggleElement.checked = mainToggle.checked;
				toggleOzonItem(toggleElement, false);
			});
		else
			mainToggle.checked = [...itemToggles].every(item => item.checked);
	}

	function toggleAbroad(itemArt) {
		let toggleInput = document.getElementById('abroad' + itemArt);
		let lastValue = toggleInput.value;
		fetch('/items/abroad',
			{
				method: 'post',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({'art': itemArt})
			}
		).then(function (response) {
			return response.json();
		})
			.then(res => {
				if (res.abroad) {
					toggleInput.checked = true;
					//toggleLabel.innerHTML = 'Активно';
				} else {
					toggleInput.checked = false;
					//toggleLabel.innerHTML = 'Отключен';
				}
			});
	}

	function toggleHold(itemArt) {
			let toggleInput = document.getElementById('hold' + itemArt);
			let lastValue = toggleInput.value;
			fetch('/items/hold',
				{
					method: 'post',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({ 'art': itemArt })
				}
			).then(function (response) {
				return response.json();
			})
				.then(res => {
					if (res.hold) {
						toggleInput.checked = true;
						//toggleLabel.innerHTML = 'Активно';
					} else {
						toggleInput.checked = false;
						//toggleLabel.innerHTML = 'Отключен';
					}
				});
		}

	function initPage() {
		document.querySelectorAll('.dropdown-menu').forEach(elem => {
			elem.addEventListener('click', (e) => {
				e.stopPropagation();
			});
		});

		jQuery.extend(jQuery.fn.dataTableExt.oSort, {
			"profit-num-pre": function (a) {
				a = (a === "-" || a === "") ? 0 : a.split('|')[0];

				var x = String(a).replace(/<[\s\S]*?>/g, "");
				return parseFloat(x);
			},

			"profit-num-asc": function (a, b) {
				return a - b;
			},

			"profit-num-desc": function (a, b) {
				return b - a;
			}
		});

		$('#ozonItemsTable').DataTable({
			pageLength: 100,
			columnDefs: [
				{
					orderable: false,
					targets: [0, 10, 11]
				},
				{
					type: 'profit-num',
					targets: 9
				},
				/*
				{
					type: 'formatted-num',
					targets: [4, 5, 6, 7]
				}
				*/
			],
			stateSave: true,
			scrollY: "calc(100vh - 310px)",
			scrollX: true,
			scrollCollapse: true,
			autoWidth: true,
			language: {
				lengthMenu: "Показывать по _MENU_ товаров на странице",
				zeroRecords: "Товары не найдены",
				info: "Страница _PAGE_ из _PAGES_",
				infoEmpty: "Товары не найдены",
				infoFiltered: "(из _MAX_ товаров)",
				paginate: {
					first: "Первая",
					last: "Последняя",
					next: "След.",
					previous: "Пред."
				},
				emptyTable: "Товаров нет",
				thousands: ",",
				loadingRecords: "Загрузка...",
				processing: "Обработка...",
				search: "Поиск товаров:",
				aria: {
					sortAscending: ": По возрастанию",
					sortDescending: ": По убыванию"
				}
			}
		});

		$(window).on("resize sidebar-toggle", function(){
			setTimeout(function(){
				$('#ozonItemsTable').DataTable().columns.adjust();
			}, 300);
		});


	}

	document.addEventListener("DOMContentLoaded", initPage);
</script>
{% endblock %}